.FriendList {
  margin-bottom: 50px;
}

.FriendListItem {
  display: flex;
  align-items: center;
  width: 350px;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 4px 3px 8px 0px rgba(0, 0, 0, 0.84);
}

.FriendListItem:not(:last-child) {
  margin-bottom: 15px;
}

.isOnline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  margin-left: 20px;
}

.isOffline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin-left: 20px;
}

.avatar {
  padding: 5px;
  background-color: rgba(139, 139, 139, 0.301);
  width: 80px;
  margin-left: 20px;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 5px;
}

.name {
  font-size: 30px;
  font-weight: 700;
  margin-left: 40px;
}
